In [1]:
import pandas as pd
import numpy as np
Location = "datasets/gradedata.csv"
df = pd.read_csv(Location)
df.tail()

,fname,lname,gender,age,exercise,hours,grade,address
1995,Cody,Shepherd,male,19,1,8,80.1,"982 West Street, Alexandria, VA 22304"
1996,Geraldine,Peterson,female,16,4,18,100.0,"78 Morris Street, East Northport, NY 11731"
1997,Mercedes,Leon,female,18,3,14,84.9,"30 Glenridge Rd., Bountiful, UT 84010"
1998,Lucius,Rowland,male,16,1,7,69.1,"342 West Meadowbrook Lane, Helena, MT 59601"
1999,Linus,Morris,male,19,4,10,79.6,"81 Homestead Drive, Voorhees, NJ 08043"

In [3]:
df.take(np.random.permutation(len(df))[:500])

,fname,lname,gender,age,exercise,hours,grade,address
1427,Sonya,Hooper,female,17,1,9,85.1,"80 William Lane, Lemont, IL 60439"
1219,Dylan,Delaney,male,14,4,5,64.3,"38 Sage Drive, Port Jefferson Station, NY 11776"
1369,Dolan,Hyde,male,17,1,17,100.0,"8882 Henry Road, Bethpage, NY 11714"
1960,Emerald,Mckinney,female,17,3,8,78.4,"8912 Greenview Drive, Oxon Hill, MD 20745"
1169,Addison,Horne,male,16,2,10,81.8,"9155 NE. William St., Lewiston, ME 04240"
1268,Kylan,Rosa,female,17,5,12,84.0,"59 Glenholme St., Temple Hills, MD 20748"
1471,Macey,Conley,female,14,2,16,94.7,"7847 Halifax Rd., Milton, MA 02186"
165,Ciaran,Johns,male,16,4,15,100.0,"7350 Creek Avenue, Upper Marlboro, MD 20772"
337,Orlando,Osborne,male,19,4,8,69.3,"31 Country Lane, Reisterstown, MD 21136"
32,Georgia,Munoz,female,14,5,20,99.0,"84 New Saddle St., Revere, MA 02151"
687,Mary,Vang,female,18,1,7,70.6,"343 Walnut Court, Wilmington, MA 01887"
1939,Castor,Mullins,male,18,4,12,82.7,"8386 4th Street, Deerfield, IL 60015"
1491,Sacha,Travis,female,18,1,8,78.5,"9526 Brickyard Lane, Glendora, CA 91740"
455,Isaac,Gray,male,16,5,12,81.0,"84 Third Street, Virginia Beach, VA 23451"
411,Ulysses,Huber,male,14,1,7,66.6,"9141 Creekside Drive, Silver Spring, MD 20901"
1209,Carl,Nelson,male,14,1,15,95.2,"917 W. Dogwood St., Grand Rapids, MI 49503"
1906,Carol,Orr,female,15,2,12,87.3,"7357 Oak Meadow Ave., Twin Falls, ID 83301"
656,Xantha,Parrish,female,18,4,9,74.0,"90 Windfall Rd., Rolla, MO 65401"
670,Aretha,Fisher,female,14,1,13,83.2,"699 West Greystone Street, Natchez, MS 39120"
628,Risa,Chang,female,14,5,17,98.6,"343 Border Ave., Massapequa Park, NY 11762"
522,Lacey,Tucker,female,17,4,16,87.5,"360 Baker St., Schererville, IN 46375"
180,Latifah,Daugherty,female,18,5,6,81.0,"282 La Sierra St., Charleston, SC 29406"
149,Dexter,Wells,male,16,3,5,68.9,"50 Bow Ridge Street, Beckley, WV 25801"
1555,Brenna,Lester,female,16,3,6,71.4,"86 Chestnut Ave., Pomona, CA 91768"
325,Thor,Ramos,male,17,3,18,100.0,"208 Plymouth St., Grove City, OH 43123"
316,Nicole,Webb,female,14,3,14,94.2,"6 Clinton Street, Meriden, CT 06450"
1797,Armando,Hutchinson,male,17,3,14,97.5,"793 Windsor Dr., Rapid City, SD 57701"
1755,Ali,Hartman,male,14,1,7,76.9,"603 Pulaski Drive, Lumberton, NC 28358"
1675,Vladimir,Rose,male,19,5,13,84.1,"3 Sherman Street, Nicholasville, KY 40356"
1951,Lydia,Cook,female,16,5,7,71.7,"7270 Temple Dr., Neenah, WI 54956"
...,...,...,...,...,...,...,...,...
1899,Nora,Gaines,female,19,3,15,98.9,"8360 Wakehurst Dr., Los Angeles, CA 90008"
151,Maggie,Rich,female,19,2,11,77.3,"9188 Albany Ave., Goshen, IN 46526"
24,Kyle,Skinner,male,17,5,6,82.4,"8593 East Branch St., Mooresville, NC 28115"
827,Kevin,Hewitt,male,18,4,13,96.1,"931 Fifth Rd., North Andover, MA 01845"
1806,Katelyn,Conway,female,19,5,10,74.0,"9041 North Manhattan Drive, San Angelo, TX 76901"
1743,Skyler,Olson,female,19,3,7,66.3,"9366 Sherman Street, Wayne, NJ 07470"
1032,Frances,Frost,female,17,1,16,83.0,"9271 Ramblewood Avenue, Petersburg, VA 23803"
967,Melissa,Clay,female,17,5,13,93.9,"563 4th Rd., Ashburn, VA 20147"
555,Bruno,Humphrey,male,16,3,12,76.8,"2 Warren Lane, Merrillville, IN 46410"
1768,Camden,Petty,male,19,1,16,88.2,"756 Marshall St., Galloway, OH 43119"
1539,Isadora,Whitehead,female,14,1,7,75.0,"80 Valley View Lane, Cumberland, RI 02864"
356,Luke,Santana,male,17,1,0,75.0,"2 Sunbeam Dr., Zionsville, IN 46077"
1849,Judah,Vega,male,15,4,13,95.2,"9625 Addison St., Sumter, SC 29150"
1470,Gisela,Sharp,female,14,3,10,89.1,"485 Pheasant Lane, Plymouth, MA 02360"
1961,Nero,Kennedy,male,14,4,14,88.3,"63 Manor St., Saint Charles, IL 60174"
874,Zelda,Casey,female,14,2,10,89.2,"47 Lawrence Ave., Indiana, PA 15701"
568,Latifah,Williamson,female,17,3,6,66.7,"50 N. Peachtree St., Woonsocket, RI 02895"
1097,Alexandra,Bowen,female,18,4,15,98.2,"385 Heritage Street, Buffalo Grove, IL 60089"
78,Shafira,Guthrie,female,17,4,12,85.3,"618 Buckingham Ave., Langhorne, PA 19047"
1481,September,Norris,female,15,1,20,100.0,"326 Birch Hill Street, Kent, OH 44240"
648,Tate,Crosby,male,19,3,3,68.6,"37 Virginia Court, Wilmette, IL 60091"
45,Rhea,Melton,female,18,5,12,95.0,"9210 Fawn Drive, South Richmond Hill, NY 11419"
719,Rebekah,Schmidt,female,18,5,12,84.1,"83 Cobblestone St., Phillipsburg, NJ 08865"
47,Kiayada,Bullock,female,18,3,11,74.9,"613 Peg Shop Court, Yuma, AZ 85365"
537,Byron,Buckner,male,16,2,13,92.9,"194 South Johnson Street, Little Rock, AR 72209"
622,Althea,Ratliff,female,19,2,10,79.4,"8213 North Oxford Road, Miami Gardens, FL 33056"
1729,Adam,Hines,male,19,3,10,88.2,"521 West Drive, Cleveland, TN 37312"
626,Lunea,Grant,female,16,1,15,88.7,"704 Vale St., Portsmouth, VA 23703"
1212,Lance,Doyle,male,18,2,9,70.6,"42 Meadowbrook Court, Shirley, NY 11967"
562,Sharon,Hull,female,14,5,8,79.0,"119 Sierra Rd., Kaukauna, WI 54130"